@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  font-family: font-family: Georgia, serif;
  background-color: #E6E6;
}

header{
  background: #2B65EC;
}

.container{
  width: 95%;
  margin: auto;
}

.nav{
  overflow: hidden;
  background:#2B65EC;
  color: #fff;
  padding: 20px 0;
}

.nav h2{
  font-size: 2rem;
  float: left;
}

nav{
  float: right;
}

nav ul{
  list-style-type: none;
}

nav li{
  font-size: 1.3rem;
  margin-top: 5px;
  float: left;
  padding: 0 15px;
}

nav a{
  text-decoration: none;
  color: #fff;
}

.current a::after{
 
  display: block;
}

.wrapper{
  display: grid;
  
}

.equation{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
  font-size: 2;
  background: #F8F8FF;
  border-radius: 3px;
  text-align: left;
  margin: 10px 10px 0px 10px;
  padding: 160px;
  width:1180px;
 
}

#myImg{
    width:1000px;
    height:400px;
    
}



a:link {
  color: #fff;
  
}

/* visited link */
a:visited {
  color: #FFF;
}

/* mouse over link */
a:hover {
  color: red;
  background-color:greenyellow;
  border: 1px ;
  
}

/* selected link */
a:active {
  color: #FF00FF;


  
@media(max-width:768px){
  .nav h2{
    font-size: 1.5rem;
    float: none;
    text-align: center;
  }

  nav{
    float: none;
    display: flex;
    justify-content: center;
  }

  nav li{
    font-size: 1rem;
  }
}

@media(max-width:480px){
  .nav h2{
    float: none;
    text-align: center;
  }

  .equation h1{
    display: inline;
    padding: 10px;
  } 

  nav li{
    font-size: .8rem;
  }

}






    

